@media screen and (min-width: 1025px) {
  .wrapper {
    overflow: hidden;
  }

  body {
    background-image: linear-gradient(lightskyblue, #33495E);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  header {
    color: white;
    overflow: hidden;
    font-family: "Impact";
    text-align: center;
    font-size: 50px;
    background-image: url("GIFs/wallpaper1.gif");
    background-color: #33495E;
    background-size: 25% 100%;
    background-repeat: no-repeat;
  }

  .weatherTitle {
    text-align: center;
  }

  .searchWeatherContainer {
    background-image: linear-gradient(lightskyblue);
    border-top: 10px solid white;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  #inputCity {
    font-family: "Impact";
    font-size: 50px;
    margin-left: 20%;
    margin-right: 1%;
  }

  #getWeatherButton {
    font-size: 50px;
    margin-right: 20%;
    font-family: "Impact";
    border-radius: 10px;
  }

  .weatherWrapper {}

  .weatherDiv {
    background-image: url("GIFs/rain.gif");
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
    font-family: "Impact";
    font-size: 50px;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    margin-bottom: 25px;
  }

  .weather__info {
    color: white;
    background-color: black;
    width: 35%;
    opacity: 0.5;
    height: 100%;
    padding: 0.1px;
    border-radius: 5px;
    padding-left: 50px;
  }

  .orkarInteFixaFooter {
    height: 100px;
  }

  footer {
    background-color: #33495E;
    color: white;
    font-family: "Impact";
    font-size: 50px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
  }
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
  .wrapper {
    height: 100vh;
  }

  body {
    background-image: linear-gradient(lightskyblue, #33495E);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  header {
    color: white;
    overflow: hidden;
    font-family: "Impact";
    text-align: center;
    height: 200px;
    width: 100%;
    background-image: url("GIFs/wallpaper1.gif");
    background-color: #33495E;
    background-size: 50% 100%;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 50px;
    padding-top: 30px;
    padding-left: 200px;
  }

  .weatherTitle {
    text-align: center;
  }

  .searchWeatherContainer {
    background-image: linear-gradient(lightskyblue);
    border-top: 5px solid white;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  #inputCity {
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10px;
    font-family: "Impact";
  }

  #getWeatherButton {
    font-family: "Impact";
    font-size: 30px;
    margin-right: 10%;
    background-color: lightgray;
    margin-top: 20px;
    border-radius: 5px;
  }

  .weatherWrapper {}

  .weatherDiv {
    background-image: url("GIFs/rain.gif");
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Impact";
    font-size: 25px;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    margin-bottom: 25px;
  }

  .weather__info {
    color: white;
    background-color: black;
    width: 40%;
    opacity: 0.5;
    height: 100%;
    padding: 0.1px;
    border-radius: 5px;
    padding-left: 10px;
  }

  .orkarInteFixaFooter {
    height: 100px;
  }

  footer {
    background-color: #33495E;
    color: white;
    font-family: "Impact";
    font-size: 25px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    height: 100vh;
  }

  body {
    background-image: linear-gradient(lightskyblue, #33495E);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  header {
    color: white;
    overflow: hidden;
    font-family: "Impact";
    text-align: center;
    height: 200px;
    width: 100%;
    background-image: url("GIFs/wallpaper1.gif");
    background-color: #33495E;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  h1 {
    font-size: 25px;
  }

  .weatherTitle {
    text-align: center;
  }

  .searchWeatherContainer {
    background-image: linear-gradient(lightskyblue);
    border-top: 5px solid white;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  #inputCity {
    font-family: "Impact";
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
  }

  #getWeatherButton {
    font-size: 25px;
    font-family: "Impact";
    margin-right: 5%;
    margin-left: 5%;
    background-color: lightgray;
    margin-top: 20px;
    border-radius: 5px;
  }

  .weatherWrapper {}

  .weatherDiv {
    background-image: url("GIFs/rain.gif");
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Impact";
    font-size: 10px;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    margin-bottom: 25px;
  }

  .weather__info {
    color: white;
    background-color: black;
    width: 35%;
    opacity: 0.5;
    height: 100%;
    padding: 0.1px;
    border-radius: 5px;
    padding-left: 10px;
  }

  .orkarInteFixaFooter {
    height: 100px;
  }

  footer {
    background-color: #33495E;
    color: white;
    font-family: "Impact";
    font-size: 15px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 25px;
  }
}
